@model List<Subject>

<div class="container">
   
    <h1 class="text-center">Subjects</h1>
    <a asp-controller="Subject" asp-action="Create" class="btn btn-outline-success">Add New Subject</a>
    

    <table class="table">
        <thead>
            <tr class="d-xl-table-row">
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
             <th>

             </th>
                

            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var subject in Model)
                {

                    <tr class="d-xl-table-row">
                        <td>@subject.Id</td>
                        <td>@subject.Name</td>
                        <td>
                            <a asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Id" class="btn btn-success">Edit</a>
                            <a asp-controller="Subject" asp-action="Delete" asp-route-id="@subject.Id" class="btn btn-danger">Delete</a>
                        </td>



                    </tr>



                }
            }
            else
            {
                <h2>No Subjects</h2>
            }
        </tbody>
    </table>


</div>
