@model Teacher
<h1 class="text-center">Add New Teacher</h1>
<form class="form-group p-5" method="post">
    <div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control"/>
    </div>
    <div class="mb-3">
    <label asp-for="LastName" claas="form-label"></label>
    <input asp-for="LastName" class="form-control"/>
    </div>
    <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control"/>
    </div>
    <div class="mb-3">
    <label asp-for="PhoneNumber" class="form-label"></label>
    <input asp-for="PhoneNumber" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="subject" class="form-label"></label>
        <select asp-for="subject" asp-items="ViewBag.subjectID" class="form-control">
            <option value="" disabled selected>Select subject</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary form-control">Add</button>











</form>
