@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-controller="Student" asp-action="Index" class="btn btn-primary">Students</a>
   <a asp-controller="Teacher" asp-action="Index" class="btn btn-secondary">Teachers</a>

</div>
<h1></h1>
