@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="mt-10">Welcome to Alwatanya School</h2>
    <hr />
    
    <div class="container mt-5">
        <div class="container row g-1">
         
                <div class="col-sm">
                <div class="p-3 card text-center"  style="background-color:aquamarine">
                     <div class="justify-content-center">
                         <img src="~/lib/Images/student.png" style="height:100px"/>
                        <div>
                            <h1>@ViewData["numOfStudents"]</h1>
                           <h2>Students</h2>
                           
                     
                        </div>
                        </div>
                    </div>
                </div>
            <div class="col-sm ">
                <div class="p-3 card text-center" style="background-color:burlywood">
                    <div class="justify-content-center">
                    
                        <img src="~/lib/Images/teacher1.png" style="height:100px" />
                   
                    <div>
                        <h1>@ViewData["numOfTeachers"]</h1>
                        <h2>Teachers</h2>

                    </div>
                    </div>
                    </div>
                </div>

            <div class="col-sm">
                <div class="p-3 card text-center" style="background-color:darkgoldenrod">
                    <div class=" justify-content-center">
                        <img src="~/lib/Images/books.png" style="height:100px" />
                        <div>
                            <h1>@ViewData["numOfSubjects"]</h1>
                       <h2>Subjects</h2>


                        </div>
                    </div>
                </div>
            </div>
            </div>



           


        </div>

</div>

